*{padding: 0;margin: 0;}
html,body{
    height: 100%;
    width: 100%;
}

#box{
    width: 100%;
    height: 100%;
    /* background: #58bc58; */
}
#box .top{
    width: 100%;
    height: 86px;
    position: absolute;
    top: 0;
    background: #7ab5e9;
    border-bottom: 2px solid #265fa6;
}
#box .top>h2{
    font-size: 22px;
    line-height: 88px;
    margin-left:30px; 
    color: #ffffff;
    float: left;
}
#box .top .denglu{
    width: 246px;
    height: 21px;
    background: #ffffff;
    z-index: 999;
    float:right;
    margin-right:40px ;

}
#box .top .xuanze{
    position: absolute;
    right: 20px;
    bottom: 0px;
    height: 54px;
}

#box .top .xuanze .kuangkuang{
    list-style-type: none;
    height: 100%;

}
#box .top .xuanze .kuangkuang .li{
    width: 88px;
    height: 100%;
    float: left;
}
#box .top .xuanze .kuangkuang .li>img{
    display: block;
    margin: auto;
    text-align: center;
}
#box .top .xuanze .kuangkuang .li>span{
    font-size: 12px;
    text-align: center;
    display: block;
}


#box .below{
    height: calc(100% - 88px);
    width: 100%;
    background: crimson;
    position: absolute;
    bottom: 0;
}
#box .below .left{
    height: 100%;
    width: 195px;
    background: #417ec8;
    float: left;

}
#box .below .bigul{
    width: 100%;
}
#box .below .bigul .bigli{
    float: left;
    width: 100%;
    vertical-align: middle;
}

#box .below .bigul .bigli>img{
    margin-left:10px; 
    vertical-align: middle;
    
}

#box .below .bigul .bigli>span{
    line-height: 32px;
    font-size: 12px;
}
#box .below .bigul .bigli .littleul{
    font-size: 12px;
    line-height: 32px;
    margin-left:10px; 
    display: none;
}
#box .below .bigul .bigli:hover .littleul{
    display: block;
}
#box .below .bigul .bigli:hover{
    background:url(../images-1/left_hover.jpg)no-repeat;
}




#box .below .right{
    height:100%;
    width: calc(100% - 195px);
    background: yellow;
    float: left;
}
#box .below .right .littleleft{
    float: left;
    height: 100%;
    background:url(../images-1/cx.jpg)repeat;
}
#box .below .right .littleleft>img{
    position: relative;
    vertical-align: middle;
    top: 50%;
}
#box .below .right .littleright{
    width: 100%;
    height: 80px; 
    vertical-align: middle;
}
#box .below .right .littleright .zhong>img{
    vertical-align: middle;

}
#box .below .right .littleright .zhong{
    vertical-align: middle;

}