/* ----------------- 样式 ----------------- */
#box{
    width: 100%;
    background:#58bc58;
}

.middle{
    width: 1200px;
    height: 100%;
    margin: auto;
}

.clearfix::after{
    content: "";
    clear: both;
    height: 0px;
    display: block;
    overflow: hidden;
    visibility: hidden;
}
.kuangjia{
    width: 100%;
    float: left;
}

.biaoti{
    margin-top:43px;
    margin-bottom: 21px;
    font-size: 26px;
    line-height: 26px;
    float: left;
    margin-right: 20px;
    
}
.xiaozi{
    font-size: 12px;
    line-height:12px;
    display:inherit block;
    position: relative;
    top: 47px;
}
.genduo{
    font-size: 12px;
    line-height: 12px;
    float:right;
    position: relative;
    top: 47px;
    color: #9b9b9b;

}

.qiuzhudazi{
    font-size: 28px;
    position: absolute;
    top: 52px;
    left: 250px;
}
.qiuzhuxiaozi{
    
    position: absolute;
    font-size: 15px;
    top:111px;
    left: 250px;
}
.qiuzhukuang{
    width: 180px;
    height: 60px;
    background: #ffa000;
    border-radius: 25px;
    position: absolute;
    bottom: 40px;
    right: 150px;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
}

/* ----------------- 内容一 ----------------- */

#box .header{
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 999;
}
#box .header .middle>img{
    margin-top: 18px;
    float: left;
}
#box .header .middle>p{
    font-size: 12px;
    line-height: 70px;
    margin-left: 16px;
    display: inline;
}
#box .header .middle .fr>li{
    float: left;
    margin-left: 30px;
    margin-right: 30px;
    height: 100%;
    font-size: 16px;
    line-height: 70px;
}
#box .header .middle .fr>li:hover{
    color: #ffa000;
}

/* ----------------- 内容二 ----------------- */

#box .erji{
    background:url(../iamges/11/banner.png);
    width: 100%;
    height: 350px;
    background-position: center center;
    margin-top: 70px;
}
#box .erji .middle .daohang{
    width: 240px;
    background:rgba(157, 155, 152, 0.402);
}
#box .erji .middle .daohang .tablerow>li{
    font-size: 20px;
    line-height: 70px;
    margin-left: 65px;
}

/* ----------------- 内容三 ----------------- */

#box .renzheng{
    height: 197px;
    background: #fff;
}
#box .renzheng .middle .tubiao>li{
    float: left;
    width: 200px;
    margin-top: 40px;
    text-align: center;
    font-size: 15px;
    line-height: 60px;
}

/* ----------------- 内容四 ----------------- */

#box .content2{
    width: 100%;
    background: #fff
}
#box .content2 .middle>h6{
    float: left;
    font-size: 27px;
    line-height: 27px;
    margin-right:10px;
}
#box .content2 .middle>span{
    font-size: 12px;
    line-height: 36px;
    display: inherit;
}
#box .content2 .middle .tupian{
    width: 100%;
    height: 100%;
}
#box .content2 .middle .tuwenzi1{
    width: 540px;
    height: 360px;
    background: #fff;
    margin-right: 10px;
    float: left;
    position: relative;
}
#box .content2 .middle .tuwenzi2{
    float: left;
    width: 262px;
    height: 360px;
    margin-right: 10px;
    position: relative;
}
#box .content2 .middle .tuwenzi2 .tuwenzi2one{
    width: 100%;
    height: 175px;
    margin-bottom: 10px;
    position: relative;
}
#box .content2 .middle .tuwenzi2 .tuwenzi3one{
    width: 100%;
    height: 175px;
    margin-bottom: 10px;
    position: relative;
}
#box .content2 .middle .tuwenzi3{
    float: left;
    width: 378px;
    height: 360px;
    position: relative;
}
.wenzikuang{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 80px;
    background-image:linear-gradient(to left, rgba(0, 0, 1,0.003 ),rgba(0, 0, 0, 0.303));
}
.wzkone{
    height: 60px;
}
.wenzikuang>p{
    font-size: 16px;
    text-indent: 1em;
    color: rgba(255, 255, 255, 0.836);
    line-height: 80px;
    widows: 100%;
    display: block;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.wzkone>p{
    line-height: 60px;
}

/* ----------------- 内容五 ----------------- */

.content3{
    width: 100%;
    background: #fff
}
.content3 .middle .daohang22 .xxx>li{
    float: left;
    width: 110px;
    height: 83px;
    line-height: 83px;
}
.content3 .middle .daohang22 .xxx>li:hover{
    color: yellow
}
.content3 .middle .daohang22 .fr{
    line-height: 83px;
    color: #9b9b9b;
}
.content3 .middle .bigbox{
    width: 100%;
    height: 540px;
}
.content3 .middle .bigbox .neirong{
    width: 570px;
    height: 160px;
    float: left;
}
.content3 .middle .bigbox .neirong:nth-child(2n+1){
    margin-right: 60px;
    margin-bottom:30px; 
}
.content3 .middle .bigbox .neirong>img{
    float: left;
    margin-right: 30px;
}
.content3 .middle .bigbox .neirong .ziduan>h2{
    font-size: 18px;
    line-height: 38px;
}
.content3 .middle .bigbox .neirong .ziduan .shijian{
    width: 95px;
    height: 12px;
    float: left;
    margin-right:204px; 
    font-size: 12px;
    margin-bottom: 26px;
}
.content3 .middle .bigbox .neirong .ziduan>p{
    font-size: 12px;
    line-height: 24px;
    color: #333333;
}

/* ----------------- 内容六 ----------------- */
.content4{
    width: 100%;
    background: #f8f8f8;
}
.qiuzhulan{
    background: url(../iamges/11/bg-help.png);
    background-position: center center;
    width: 100%;
    height: 170px;
    margin-top: 90px;
    position: relative;
    margin-bottom: 30px;
}
.content4 .middle .bigbox .little{
    width: 270px;
    height: 335px;
    margin-right:40px;
    background: #58bc58;
    float: left;
}
.content4 .middle .bigbox .little>img{
    width: 270px;
    height: 180px;
    position: absolute;
}
.content4 .middle .bigbox .little .baobao{
    width: 100%;
    height: 180px;
    position: relative;
    background: rgba(7, 6, 6, 0.246);
}
.content4 .middle .bigbox .little .baobao>li{
    position: absolute;
    top: 50%;
    left: 50%;
    color:#fff;
    transform: translate(-50%,-50%);
}
.content4 .middle .bigbox .little .wenkuang{
    margin-left: 20px;
    width:230px;
    height:54px;
    border-bottom: 1px dashed #9b9b9b;

}
.content4 .middle .bigbox .little .wenkuang>div{
    width: 66px;
    height: 26px;
    border-radius:25px;
    float: left;
    margin-right: 16px;
    background: #f3e4d8;
    margin-top: 14px;
    font-size: 12px;
    text-align: center;
    line-height: 26px;
}
.content4 .middle .bigbox .little .neirongzi{
margin-left:20px; 
}

.content4 .middle .bigbox .four{
    margin-right: 0%;
}



/* ----------------- 内容七 ----------------- */



/* ----------------- 内容八 ----------------- */


/* ----------------- 内容九 ----------------- */


/* ----------------- 内容四 ----------------- */
